* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    padding-top: 5%;
    padding-left: 10%;
    color: #fff;
}

.container h1 {
    display: flex;
    align-items: center;
}

.container h1 img {
    width: 100px;
    height: 90px;
}

.container h1 span {
    font-size: 50px;
}

.container button {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    outline: none;
    border: 0px;
    border-radius: 5px;
    background-color: white;
    font-size: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.container button img {
    width: 40px;
}

.inputBox {
    position: relative;
    margin-top: 2%;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    outline: none;
    color: black;
    font-size: 20px;
}

.inputBox img {
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}